<div class="container py-5">
    <div class="m-5 " id="formContent">
        <!-- Tabs Titles -->
    
        <!-- Icon -->
        <!-- <div class="">
          <img src="../../assets/Cisco-Logo-Desktop-Background-Image.jpg" id="icon" alt="User Icon" />
        </div> -->
    
        <!-- Login Form -->
        <div class="card bg-kalyan">
            <div class="card-body">
              <div class="card-text">
                  <form>
                    <br/>
                    <label class="mx-5">Username:</label>
                      <input type="text" id="login" class="" name="login" placeholder="">
                      
                      <br/>
                      <label class="mx-5">Password :</label> 
                      <input type="text" id="password" class="" name="login" placeholder="">
                      <br/>
                      <br/>
                      <input type="submit" class="mx-5" routerLink="/compareDB" value="Log In">
                    </form>
<br/>
                    <div id="formFooter">
                        <a class="mx-5" href="#">Forgot Password?</a>
                      </div>
              </div>
            </div>
          </div>




          <!-- <form>
          <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
          <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
          <input type="submit" class="fadeIn fourth" routerLink="/compareDB" value="Log In">
        </form>
    
        Remind Passowrd
        <div id="formFooter">
          <a class="underlineHover" href="#">Forgot Password?</a>
        </div> -->
    
      </div>

</div>
<!-- <router-outlet></router-outlet> -->

